@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

.aboutTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
}

.aboutUpdate {
  position: absolute;
  right: 10px;
}

.markedEditBox {
  display: flex;
  height: calc(100% - (56px + 10px));

  .markedEdit {
    height: 100%;
    width: 50%;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    overflow-y: auto;
  }

  .input {
    margin-right: 10px;
    padding: 30px;
    font-size: 18px;
    @extend .scroll;
  }
}
