@import '../../../styles/base.scss';

.aboutTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
}

.aboutUpdate {
  position: absolute;
  border-radius: 8px;
  right: 5px;
}

.markedEditBox {
  height: calc(100vh - 62px - 70px - 40px - 50px);
  display: flex;

  .markedEdit {
    width: 50%;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
  }

  .input {
    margin-right: 20px;
    padding: 30px;
    font-size: 18px;
  }

  .markedEdit::-webkit-scrollbar {
    width: 8px;
  }
  .markedEdit::-webkit-scrollbar-thumb {
    background: $themeColor3_light;
    border-radius: 4px;
  }
}
