.WelcomeBox {
    width: 100%;
    height: 140px;
    background-color: #fff;
    transition: all 0.2s;
    position: relative;
    user-select: none;
    flex: 2;
}

.WelcomeBox:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.home-avatar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.welcomeTitle {
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    left: 150px;
    top: 24px;
}

.poemContent {
    position: absolute;
    left: 150px;
    bottom: 24px;
    font-size: 18px;
}

.poemTitle {
    font-size: 16px;
}
