@import '../../styles/base.scss';

.modalBox {
  .inputBox {
    display: flex;
    height: 40px;
    margin: 15px 0;

    .inputKey {
      width: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
    }

    .inputValue {
      flex: 1;
      border: 1px solid $themeColor3_light;
      height: 40px;
      font-size: 16px;
      padding: 0 10px;
      border-radius: 10px;
    }
  }
}
