/* ———————————————————————————上方标题盒子——————————————————————————— */
.titleBox {
    height: 58px;
    background-color: #a6aeb4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*  */
}

/* 标题输入框 */
.inputTitle,
.inputEng {
    height: 36px;
    padding: 0 20px;
    font-size: 22px;
    font-weight: 700;
    background-color: #fff;
}

.inputTitle {
    flex: 3;
    margin: 0 10px;
}
.inputEng {
    flex: 1;
    margin-right: 10px;
}

/* 草稿、发布按钮 */
.draftBtn,
.pubBtn {
    height: 36px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    user-select: none;
    font-weight: 700;
    margin-right: 10px;
    background-color: #63e95f;
    transition: all 0.2s;
}

.draftBtn:hover,
.pubBtn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: rgb(40, 81, 216);
    color: #fff;
}

/* ———————————————————————————标签、分类大盒子———————————————————————————— */
.tagClassBox {
    position: relative;
    height: 44px;
    background-color: #a6aeb4;
}
.classBox,
.tagBox {
    position: absolute;
    top: 0px;
    font-weight: 700;
    font-size: 16px;
}
.classBox {
    left: 20px;
}
.tagBox {
    left: 420px;
}

/* ———————————————————————————编辑区大盒子——————————————————————————— */
.editBox {
    display: flex;
    flex-direction: row;
}

/* 编辑/显示区 */
.inputRegion,
.showRegion {
    /* footer60 Header54 margin-top20 titleBox tagClassBox */
    min-height: calc(100vh - 60px - 54px - 20px - 58px - 44px);
    width: 50%;
    background-color: #fff;
    padding: 20px;
    font-size: 18px;
}

.inputRegion {
    background-color: #ddd;
    outline: none;
    word-wrap: break-word;
}

/* ——————————————————————————————显示区markdown样式—————————————————————————————— */
/* 表格 */
.showRegion table {
    border: 1px solid #000;
    border-spacing: 0; /*去掉单元格间隙*/
}
.showRegion table th,
.showRegion table td {
    padding: 6px 14px;
    border: 1px solid #000;
}
/* h1 h2 h3 h4 h5 h6 p */
.showRegion h1,
.showRegion h2,
.showRegion h3,
.showRegion h4,
.showRegion h5,
.showRegion h6,
.showRegion p {
    margin: 0.3em;
}
/* 行内代码 */
.showRegion code {
    color: red;
    background-color: #f9f2f4;
    padding: 0 4px;
}

/* 图片 */
.showRegion p img {
    display: block;
    max-width: 100%;
    margin: 14px auto;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* ———————————————————————————————————————————————————————————— */
