// 颜色
$themeColor1: rgb(18, 83, 143);
$themeColor2: rgb(195, 206, 217);
$themeColor3: rgb(22, 119, 255);
$themeColor3_light: rgb(64, 150, 255);

$themeColor4: rgb(255, 77, 79);
$themeColor4_light: rgb(255, 135, 133);

$themeColor5: rgb(221, 236, 255);
