// 颜色
$themeColor1: rgb(18, 83, 143);
$themeColor2: rgb(195, 206, 217);
$themeColor3: #165dff;
$themeColor3_light: #4080ff;

$themeColor4: #f53f3f;
$themeColor4_light: #f76560;

$themeColor5: rgb(221, 236, 255);
