@import './base.scss';

.trans {
  transition: all 0.3s !important;
}

.hover {
  @extend .trans;
}
.hover:hover {
  background-color: $themeColor3 !important;
  cursor: pointer;
}

.scroll {
}

.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background: $themeColor3_light;
  border-radius: 2px;
}
