.site {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
}

.markDownContent {
  background-color: #fff;
  height: calc(100% - (56px + 10px));
}
