.tableCoverBox {
  margin: auto;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;

  .tableCover {
    height: 100%;
  }
}
