.tableCoverCell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .tableCoverBox {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

    .tableCover {
      height: 100%;
    }
  }
}
