/* ———————————————————————————上方标题盒子——————————————————————————— */
.titleBox {
    height: 58px;
    background-color: #b9dfff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 标题输入框 */
.inputTitle,
.inputEng {
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    /* font-weight: 700; */
    background-color: #fff;
    transition: all 0.3s;
}
.inputTitle:hover,
.inputEng:hover,
.timeInput:hover {
    box-shadow: 0 0 8px #1890ff;
}

.inputTitle {
    flex: 3;
    margin: 0 10px;
}
.inputEng {
    flex: 1;
    margin-right: 10px;
}

/* 草稿、发布按钮 */
.draftBtn,
.pubBtn {
    margin-right: 10px;
    height: 40px;
    width: 86px;
    background-color: #1890ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    user-select: none;
    transition: all 0.2s;
    color: #fff;
}

.draftBtn:hover,
.pubBtn:hover {
    background-color: #40a9ff;
    box-shadow: 0 0 4px #1890ff;
}

/* ———————————————————————————标签、分类大盒子———————————————————————————— */
.tagClassBox {
    /* position: relative; */
    height: 44px;
    background-color: #b9dfff;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    user-select: none;
}
.classBox,
.tagBox,
.timeBox {
    font-weight: 700;
    font-size: 16px;
}

.timeInput {
    padding: 0 20px;
    height: 32px;
    background-color: #fff;
    width: 300px;
    font-size: 18px;
    transition: all 0.3s;
}

/* ———————————————————————————编辑区大盒子——————————————————————————— */
.editBox {
    display: flex;
    flex-direction: row;
}

/* 编辑/显示区 */
.inputRegion,
.showRegion {
    /* footer60 Header54 margin-top20 titleBox tagClassBox */
    min-height: calc(100vh - 70px - 54px - 20px - 58px - 44px);
    width: 50%;
    background-color: #fff;
    padding: 30px;
    font-size: 18px;
    word-break: break-word;
}

.inputRegion {
    background-color: #d4f7ff;
    outline: none;
    overflow-y: hidden;
    border: none;
}

/* ——————————————————————————————显示区markdown样式—————————————————————————————— */
/* 表格 */
.markdownStyle table {
    margin: 20px auto;
    border: 1px solid #000;
    border-spacing: 0; /*去掉单元格间隙*/
    text-align: center;
}
.markdownStyle table th,
.markdownStyle table td {
    padding: 6px 14px;
    border: 1px solid #000;
}
/* h1 h2 h3 h4 h5 h6 p */
/* .markdownStyle h1,
.markdownStyle h2,
.markdownStyle h3,
.markdownStyle h4,
.markdownStyle h5,
.markdownStyle h6,
.markdownStyle p {
    margin: 0.3em;
} */
/* 行内代码 */
.markdownStyle code {
    color: red;
    background-color: #eeeeee;
    padding: 0 4px;
}

/* 图片 */
.markdownStyle p img {
    display: block;
    max-width: 100%;
    margin: 14px auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.markdownStyle blockquote {
    background-color: #dfdfdf;
    padding: 14px 40px;
    font-size: 18px;
    border-radius: 20px;
    border: 2px rgb(105, 105, 105) dashed;
}
.markdownStyle strong {
    text-decoration: underline;
}

.markdownStyle blockquote p {
    margin: 0;
}
/* ———————————————————————————————————————————————————————————— */
