div {
    padding: 0;
    margin: 0;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-width: 1920px;
    overflow-y: overlay;
}

/* body::-webkit-scrollbar {
    display: none;
} */

input {
    background: none;
    outline: none;
    border: 0px;
    border-radius: 0;
}

div,
input {
    box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none !important;
}

@font-face {
    font-family: 'FiraCode';
    src: url(./FiraCode-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
