@import '../../../styles/base.scss';
@import '../../../styles/style.scss';

.contentItem {
  display: flex;
  height: 40px;
  margin: 15px 0;

  .contentkey {
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
  }
}

.textAreaBox {
  height: 120px;
}
