@import '../../styles/base.scss';
@import '../../styles/style.scss';

.headerBtnBase {
  position: absolute;
  top: 50%;
  z-index: 99;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  user-select: none;
  font-size: 22px;
  color: #9ed0ff;
  background-color: #fff;
  @extend .trans;
}

.headerBox {
  position: fixed;
  top: 0;
  left: 160px;
  right: 0;
  height: 62px;
  background-color: #9ed0ff;

  .avatar {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    height: 54px;
    width: 54px;
    border-radius: 50%;
  }
  .avatarText {
    position: absolute;
    left: calc(10px * 2 + 54px);
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    font-family: 'dengxian';
    font-weight: 700;
    color: #fff;

    .userName {
      color: $themeColor3;
    }
  }

  .blogBtn {
    right: calc(11px * 2 + 40px);
    @extend .headerBtnBase;
  }

  .blogBtn:hover {
    color: #fff;
    background-color: $themeColor3;
    cursor: pointer;
  }

  .logoutBtn {
    right: 11px;
    @extend .headerBtnBase;
  }

  .logoutBtn:hover {
    color: #fff;
    background-color: red;
    cursor: pointer;
  }
}
