.MyTagBox {
    flex: 1;
    height: 100%;
    background-color: #fff;
    position: relative;
}
.tagsList {
    padding: 10px;
}

.theTag {
    display: inline-block;
    margin: 0 0 10px 10px;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    user-select: none;
    transition: all 0.2s;
    color: #fff;
}

.theTag:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}

.deleteTagBtn {
    font-size: 14px;
    margin-left: 6px;
}
