$height: 90px;

.imgsPopover {
  max-width: 600px !important;
}

.imgsBox {
  height: $height;

  .imgDiv {
    display: inline-block;
    position: relative;
    height: $height;
    width: $height * 4/3;
    margin-right: 5px;
    border-radius: 2px;
    overflow: hidden;

    .img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      // object-fit: cover;
      height: 100%;
    }
  }

  .imgDiv:last-child {
    margin-right: 0;
  }
}

.imgHover {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
