.statisticRegion {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    height: 140px;
}

.marginRight {
    margin-right: 0;
}

.homeLink {
    width: 100%;
    height: 100%;
    cursor: default;
}

.chart-class-tag {
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 54px - 20px - 140px - 20px - 140px - 20px - 60px);
    display: flex;
}
