.countCardContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.homeBigContainer {
  height: calc(100vh - 62px - 20px - 160px - 20px - 20px - 70px);
  display: flex;

  .chartContainer {
    flex: 2;
    margin-right: 20px;
  }
  .classesContainer {
    flex: 1;
    margin-right: 20px;
  }
  .tagsNoticeContainer {
    flex: 1;

    .NoticeContainer {
      height: 160px;
      margin-bottom: 20px;
    }
    .tagsContainer {
      height: calc(100% - 160px - 20px);
    }
  }
}
