.HeaderBox {
    position: relative;
    height: 54px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.logoutBtn,
.blogBtn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
    transition: all 0.2s;
    color: #000;
}
.logoutBtn:hover,
.blogBtn:hover {
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    color: #000;
}

.blogBtn {
    right: 90px;
}
