@import './styles/base.scss';
@import './styles/style.scss';

@font-face {
  font-family: 'FiraCode';
  font-display: auto;
  src: url(./fonts/FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

html,
body,
#root {
  height: 100vh;
}

p,
html,
body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

div,
textarea {
  box-sizing: border-box !important;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

img {
  -webkit-user-drag: none;
}

input {
  background: none;
  outline: none;
  border: 0px;
  border-radius: 0;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}
