@import '../../styles/base.scss';
@import '../../styles/style.scss';

$navWidth: 160px;
$headerHeight: 54px;

.navItemBase {
  margin: 14px auto;
  height: 40px;
  width: 80%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  user-select: none;
  border-radius: 15px;
  overflow: hidden;
}

.headerBtnBase {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  user-select: none;
  font-size: 22px;
  color: #a7d5ff;
  background-color: #fff;
  @extend .trans;
}

.adminBox {
  display: flex;
  height: 100%;

  .nav {
    width: $navWidth;
    height: 100%;
    background-color: $themeColor1;
    color: #fff;

    .appName {
      @extend .navItemBase;
      background-color: #457caf;
    }

    ul {
      margin: 0;
      padding: 0;

      .liItem {
        @extend .navItemBase;

        .navItem {
          @extend .trans;
          width: 100%;
          height: 100%;
          display: block;
          background-color: $themeColor2;
          color: $themeColor1;
        }

        .navItem:hover,
        .navItemActive {
          background-color: $themeColor3;
          color: #fff;
          cursor: pointer;
        }

        .navItemActive {
          cursor: default !important;
        }
      }
    }
  }

  .content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;

    .headerBox {
      height: $headerHeight;
      background-color: #a7d5ff;
      position: relative;

      .blogBtn {
        right: calc(20px * 2 + 40px);
        @extend .headerBtnBase;
      }

      .blogBtn:hover {
        color: #fff;
        background-color: $themeColor3;
        cursor: pointer;
      }

      .logoutBtn {
        right: 20px;
        @extend .headerBtnBase;
      }

      .logoutBtn:hover {
        color: #fff;
        background-color: red;
        cursor: pointer;
      }
    }

    .routeContent {
      padding: 20px;
      width: 100%;
      flex: 1;
      background-color: #f0f2f5;
    }
  }
}
