.NavBox {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 160px;
  height: 100%;
  background-color: #001529;
  color: #fff;
}

/* 导航上方标题 */
.appName {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 40px;
  width: 80%;
  background-color: #334454;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  user-select: none;
}

/* ul */
.funcBtns {
  position: absolute;
  top: 68px;
  width: 100%;
  padding: 0;
}

.funcBtns li {
  width: 100%;
  height: 40px;
  font-size: 16px;
  transition: all 0.2s;
  list-style: none;
}

.NavBox .turnNewVer {
  position: absolute;
  height: 40px;
  transition: all 0.2s;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.funcBtns li:hover,
.NavBox .turnNewVer:hover {
  background-color: #004280;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.8) inset;
}

.funcLi {
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: default;
}

.navActive {
  background-color: #004280;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.8) inset;
}
